

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f3;
}

.header-hu5 {
  background-color: #3182ce;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  border-radius: 0 0 20px 20px;
  max-width: 420px;
  margin: 0 auto;
  padding: 20px 16px;
}

.btn-salir {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #0f72ab;
  border: none;
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-salir a{
  color: #ffffff;
  text-decoration: none;
  text-align: justify;
  text-transform: unset;
}

.btn-salir:hover {
    background-color: #125799;
}


.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.timer {
  background-color: #ffffff;
  padding: 10px 30px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.image-container {
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img-hu5 {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.mensaje {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-hu5 {
  padding: 10px 20px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-hu5:hover {
  background-color: #63b3ed;
}

.footer {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 480px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #333;
  transition: color 0.2s, transform 0.2s;
}

.nav-btn a:hover {
  color: #125799;
}

.nav-btn a{
  text-decoration: none;
  color: #060606;
}

.nav-btn:hover {
  color: #1e88e5;
  transform: scale(1.1);
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  text-align: center;
}

.modal button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #3182ce;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}


